@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    --color-text: #000;
    --color-bg: #fff;
    --color-blue: #574dc2;
    --color-red: #e55555;
    --color-gray: #d5d5d5;
    background: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
  }