.favorotes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.favorotes h2{
    width: 100%;
}
.fav_box{
    border: 5px solid #574dc2;
    width: 25%;
    max-height: 300px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    background: #574dc2;
}
.fav_box img{
    opacity: 0.4;
    transition: 0.4s;
}

.fav_box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    transition: 0.3s;
}

.fav_box:hover p{
    opacity: 0;
}
.fav_box:hover img{
    opacity: 1;
    transform: rotate(15deg) scale(1.2);
}

.add_place_btn{
    padding: 20px 50px;
    display: inline-block;
    background: #574dc2;
    border: 10px solid #574dc2;
    font-weight: 900;
    color: #fff;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 100px;
    border-radius: 100%;
    cursor: pointer;
}

.add_place_btn:hover{
    background: none;
    color: #574dc2;
}

.confirm{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    transform: scale(0);
    transition: 0.3s;
}

.confirm_show{
    transform: scale(1);
}

.confirm_form{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    border: 3px solid #574dc2;
    border-radius: 30px;
}

.confirm_form input{
    height: 60px;
    background: none;
    border: 0;
    color: #fff;
    width: 100%;
    font-size: 20px;
    border-bottom: 3px solid #574dc2;
}


.confirm_form button{
    background: #574dc2;
    border:2px solid #574dc2;
    padding: 15px 40px;
    outline: 0;
    color: #fff;
    font-size: 18px;
    border-radius: 60px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 50px;
}

.confirm_form button:hover{
    background: none;
    color: #574dc2;
}

.filter label span{
	border: 1px solid #fff;
	font-size: 15px;
	line-height: 50px;
	padding: 10px 10px;
}