
.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #574dc2;
    border-radius: 20px;
    padding: 30px;
}
.form_list h4{
    color: #e55555;
    font-style: 16px;
    border-bottom: 3px solid #e55555;
    margin-bottom: 10px;
}

.form_list a{
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 20px;
    background: #574dc2;
    border: 3px solid #574dc2;
    cursor: pointer;
    border-radius: 5px;
    transition:0.3s;
    display: inline-block;
}

.form_list button:hover{
    background: none;
}



.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    color: #fff;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 100%;
  }
  

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #574dc2;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.form_list input{
    background: none;
    border: 0;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 5px;
    color: #fff;
}
.form_list input::-webkit-input-placeholder{
    color: #fff;
}
.form_list input:focus::-webkit-input-placeholder{
    color: #574dc2;
}

.form_list input:focus{
    border-color: #574dc2;
}

.bg_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    overflow: hidden;
}

.bg_img img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0.1;
    transition: 0.3s;
}

.reg_form,
.sing_form{
    position: absolute;
    z-index: 3;
    transform: scale(0);
}

.form_show{
    transform: scale(1);
    transition: ease 0.3s;
}

.close_btn{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.close_btn span{
    width: 60px;
    height: 0px;
}
.close_btn span:after,
.close_btn span:before{
    content: '';
    position: absolute;
    height: 5px;
    width: 60px;
    background: #e55555;
    transform: rotate(45deg);
    transition: transform 0.5s;
}
.close_btn:hover span:after{
    transform: rotate(135deg);
}

.close_btn span:after{
    transform: rotate(-45deg);
}

.content{
    color: #fff;
    width: 50%;
    transition: ease 0.5s;
}

.content h2{
    font-size: 5.5vw;
    color: #7c75cb;
}
.content h2 span{
    color: #fff;
    display: inline-block;
    position: relative;
}

.content p{
    margin: 40px 0px;
}
.reg_form_show_btn{
    font-size: 18px;
    color: #fff;
    background: #574dc2;
    border: 2px solid #574dc2;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}

.sing_form_show_btn{
    border-bottom: 5px solid #574dc2;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
    display: inline-block;
}
.sing_form_show_btn:hover{
    border: none;
}
.reg_form_show_btn:hover{
    background: none;
    color: #574dc2;
}

@media screen and (max-width: 1000px){
    .content{
        width: 90%;
    }
    .bg_img img{
        width: auto;
        height: 100%;
    }
    .sing_form_show_btn{
        font-size: 15px;
        margin: 10px 5px;
    }
    .reg_form_show_btn{
        font-size: 16px;
    }
    .close_btn{
        top: 5px;
        right: 5px;
        height: 50px;
        width: 50px;
    }
    .close_btn span:before,
    .close_btn span:after{
        width: 40px;
        height: 4px;
    }
    .form_list{
        border: none;
    }
}