#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
}
  
.visible {
visibility: visible;
opacity: 1;
transition: opacity 1s linear;
}

.hidden {
visibility: hidden;
opacity: 0;
transition: visibility 0s 1s, opacity 1s linear;
}

.content{
    min-height: 100vh;
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content h2{
    position: absolute;
    top: -3px;
    border: 3px solid #574dc2;
    color: #574dc2;
    padding: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.new_friend_box{
    padding: 40px;
    width: 22%;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid #574dc2;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}
.new_friend_box_remove:hover:after{
    background: red;
}

.new_friend_box:hover{
    transform: translateY(-10px);
    box-shadow: 3px 3px 10px #7069ba;
}
.new_friend_box:hover .infoBox h4{
    color: #000;
}

.new_friend_box:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: green;
    transition: 0.3s;
}

.new_friend_box_choosen{
    border:none;
}
.new_friend_box_choosen:hover{
    box-shadow: none;
    transform: none;
}

.new_friend_box_choosen:after{
    opacity: 0.4;
}

.imgBox{
    width: 70%;
    border-radius: 100%;
    overflow: hidden;
}

.imgBox img{
    width: 100%;
}

.infoBox{
    margin-top: 20px;
}

.infoBox h4{
    color: #574dc2;
    font-size: 20px;
    transition:  0.3s;
}
.infoBox p{
    margin-top: 10px;
}


.confirm_btn{
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #574dc2;
    height: 80px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
    transition: ease-out 0.3s;
}

.confirm_btn::before,
.confirm_btn:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #69e770;
    transform: translateY(100%);
}
.confirm_btn:before{
    background: #e74354;
}
.confirm_btn:hover{
    background: none;
    color: #000;
    height: 110px;
}
.confirm_btn:hover:after{
    transform: translateY(0);
    transition: ease-out 0.3s;
    transition-delay: 0.2s;
}
.confirm_btn:hover:before{
    transform: translateY(0);
    transition: ease-out 0.3s;
    
}
.bg_img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.bg_img img{
    width: 100%;
    filter: invert(1);
    opacity: 0.1;
}
.num{
    position: absolute;
    top: 5px;
    font-size: 40px;
    color: #574dc2;
    right: 15px;
}


@media screen and (max-width: 1000px){
    .content{
        min-height: auto;
        padding: 0px 5%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px 5px 100px 5px;
    }
    
    .content h2{
        position: absolute;
        top: 15px;
        background: none;
        color:#574dc2;
        padding: 5px;
        border: 0;
        font-size: 16px;
    }
    
    .new_friend_box{
        padding: 20px;
        width: 90%;
        min-height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        border: 3px solid #574dc2;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 10px;
    }
    .new_friend_box:hover{
        transform: none;
        box-shadow: none;
    }
    .confirm_btn{
        bottom: 0px;
        font-size: 15px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: #574dc2;
        height: 50px;
        width: 200px;
    }
}