.hide_btn{
    position: absolute;
    right: -90px;
    top: 20px;
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hide_btn span{
    position: relative;
    width: 50px;
    height: 4px;
    background: #574dc2;
}

.hide_btn span:after,
.hide_btn span:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 1px;
    width: 24px;
    height: 4px;
    background: #574dc2;
    transform: rotate(45deg);
    transform-origin: left;
    transition: ease 0.3s;
}

.hide_btn:hover span:after{
    transform: rotate(45deg);
    top: 1px;
}
.hide_btn:hover span:before{
    transform: rotate(-45deg);
    top: -1px;
}
.hide_btn span:after{
    transform: rotate(-45deg);
    top: 1px;
}

.profile_block_hide{
    transform: translateX(-100%);
}
.hide_btn_active{
    transform: rotate(180deg);
}

.profile_block{
    position: fixed;
    background-image: linear-gradient(90deg, #e55555, #574dc2);
    width: 350px;
    padding: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
    color: #fff;
}


.profile_block h4{
    font-size: 18px;
    margin-top: 20px;
}
.profile_block p{;
    font-size: 20px;
}

.avatar{
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}
.avatar img{
    width: 100%;
}

.role{
    margin-top: 30px;
    font-size: 20px;
}

.role span{
    font-size: 40px;
    border-bottom: 1px solid #fff;
}

.filter{
    width: 80%;
}
.filter label{
	user-select: none;
}
.filter input:checked + span{
	color: #fff;
	border-color: #574dc2;
	background: #574dc2;
}

.filter label input{
	width: 0;
	opacity: 0;
	height: 0;
}
.filter label span{
	white-space: nowrap;
	border: 1px solid #000;
	font-size: 15px;
	line-height: 50px;
	padding: 10px 10px;
	border-radius: 100px;
	transition: ease-out 0.2s;
}

.content_block{
    margin-left: 400px;
    width: calc(100% - 400px);
    padding: 100px 30px 300px 70px;
}

.content_block h2{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #e55555;
}




section.range-slider {
    position: relative;
    width: 100%;
    height: 100px;
    float: left;
    text-align: center;
  }
  section.range-slider input[type=range] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 40px;
    background: #e5dff2;
    overflow: hidden;
    left: 0;
    top: 30px;
    width: 40vw;
    outline: none;
    height: 40px;
    margin: 0;
    padding: 0;
  }
  section.range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 14px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413F41));
    /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #dad8da 0, #574dc2 100%);
    /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, #dad8da 0, #574dc2 100%);
    /* W3C */
  }
  section.range-slider input[type=range]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
  }
  section.range-slider input[type=range]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
  }
  section.range-slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: black;
    border: 0;
  }
  section.range-slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
  }
  section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
  }

  .rangeValues{
      position: relative;
      top: 100px;
      font-size: 2vw;
      display: block;
      text-align: left;
  }

  .buttons{
      display: inline-block;
      margin-left: -30px;
      margin-top: 60px;
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
  }
  
  .search{
      width: 60%;
      height: 60px;
      margin-top: 30px;
      padding: 0px 10px;
      border: 2px solid #574dc2;
      border-radius: 40px; 
      font-size: 20px;
  }

  .find{
    background: #574dc2;
    border:2px solid #574dc2;
    padding: 15px 40px;
    outline: 0;
    color: #fff;
    font-size: 18px;
    border-radius: 60px;
    transition: 0.3s;
    cursor: pointer;
  }

  .find:hover{
      color: #574dc2;
      background: none;
  }

.meet_block{
    border-bottom: 5px solid #574dc2;
    padding: 20px;
    width: 70%;
    display: flex;
    align-items: center;
}
.meet_block div span{
    color: #e55555;
    font-size: 17px;
}
.meet_block div{
    font-size: 20px;
}


.meet_block div a:hover{
    text-decoration: underline;
}

.imgBox{
    border-radius: 100%;
    overflow: hidden;
    margin-right: 30px;
    width: 200px;
}
.imgBox img{
    width: 100%;
}
.social{
    margin-top: 20px;
    float: left;
    margin-right: 20px;
}

.social img{
    width: 35px;
}

.write_btn{
    background: #574dc2;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}
.write_btn:hover{
    background: #e55555;
}
.place img{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    opacity: 0;
    cursor: pointer;
    user-select: none;
}
.place:hover img{
    opacity: 1;
}

  @media screen and (max-width: 1000px){
    .profile_block{
        width: 100%;
        position: relative;
    }
    .profile_block h4{
        font-size: 22px;
        margin-top: 10px;
    }
    .profile_block p{
        font-size: 6vw;
    }
    
    .avatar{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 30px;
    }
    .roll span{
        font-size: 12vw;
    }
    .content_block{
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .filter{
        width: 100%;
    }
    .filter label span{
        white-space: nowrap;
        border: 1px solid #000;
        font-size: 13px;
        line-height: 45px;
        padding: 6px 6px;
    }
    section.range-slider input[type=range] {
        width: 100%;
    }
    .rangeValues{
        font-size: 6vw;
    }
    .meet_block{
        flex-direction: column;
        width: 100%;
    }
    .imgBox{
        width: 50%;
    }
    .hide_btn{
        display: none;
    }
    .search{
        width: 65%;
        height: 40px;
    }
  
    .find{
        font-size: 14px;
      padding: 10px 20px;
    }
    .place img{
        visibility: hidden;
    }
}