{% load static %}
{% load i18n %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>travel_hack</title>
    <meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="shortcut icon" type="image/png" href="img/">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/find.css' %}">
</head>
<body>
	<div id="preloader" class="visible"></div>
    <div class="content">
        <h2>Выберите с кем пойти на встречу</h2>
        <div class="new_friend_box">
            <span class="num">01</span>
            <div class="imgBox">
                <img src="{% static 'img/Tolstoles.png.220x220_q85_crop.png' %}" alt="friendImg">
            </div>
            <div class="infoBox">
                <h4>Дмитрий Толстолес</h4>
                <p>Заместитель генерального директора по связям с общественностью АНО «Проектный офис по развитию туризма и гостеприимства Москвы»</p>
            </div>
        </div>
        <div class="new_friend_box">
            <span class="num">02</span>
            <div class="imgBox">
                <img src="{% static 'img/Perepelitsa.jpeg.220x220_q85_crop.jpg' %}" alt="friendImg">
            </div>
            <div class="infoBox">
                <h4>Владимир Перепелица</h4>
                <p>Архитектор Mail.ru Cloud Solutions</p>
            </div>
        </div>
        <div class="new_friend_box">
            <span class="num">03</span>
            <div class="imgBox">
                <img src="{% static 'img/Nadirshina.jpg.220x220_q85_crop.jpg' %}" alt="friendImg">
            </div>
            <div class="infoBox">
                <h4>Ася Надыршина</h4>
                <p>Директор по агентским и корпоративным продажам «Аэроэкспресс»</p>
            </div>
        </div>
        <div class="new_friend_box">
            <span class="num">04</span>
            <div class="imgBox">
                <img src="{% static 'img/kiseleva.jpeg.220x220_q85_crop.jpg' %}" alt="friendImg">
            </div>
            <div class="infoBox">
                <h4>Мария Киселева</h4>
                <p>Начальник управления регионального взаимодействия АНО «Проектный офис по развитию туризма и гостеприимства Москвы»</p>
            </div>
        </div>
        <a href="{% url 'prof_guest' %}" class="confirm_btn"><span>Подтвердить</span></a>
    </div>
    <div class="bg_img">
        <img src="{% static 'img/122656738-black-and-white-vector-city-map-of-moscow-with-well-organized-separated-layers-.jpg' %}" alt="bgImg">
    </div>
	<script src="{% static 'js/find.js' %}"></script>
</body>
</html>