{% load static %}
{% load i18n %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>travel_hack</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="khan" />
    <link rel="shortcut icon" type="image/png" href="img/">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="sing_form">
        <form action="" class="form_list">
            <h4>Войти</h4>
            <input type="text" placeholder="Ваш email" name="email" required autocomplete="off">
            <input type="password" placeholder="Ваш пароль" name="pass" required>
            <a href="{% url 'prof_guest' %}" >Войти</a>
        </form>
    </div>
    <div class="reg_form">
        <form action="" class="form_list">
            <h4>Регистрация</h4>
            <input type="text" placeholder="Как вас зовут?" name="name" required autocomplete="off" class="name">
            <input type="text" placeholder="Номер телефона" required class="number">
            <input type="password" placeholder="Придумайте пароль" required>
            <label class="container">Я турист
                <input type="radio" name="radio" required class="check_role">
                <span class="checkmark"></span>
            </label>
            <label class="container">Я местный
                <input type="radio" name="radio" required class="check_role1">
                <span class="checkmark"></span>
            </label>
            <a href="{% url 'prof_guest' %}" >Регистрация</a>
        </form>
    </div>
    <div class="close_btn"><span></span></div>
    <div class="bg_img">
        <img src="{% static 'img/122656738-black-and-white-vector-city-map-of-moscow-with-well-organized-separated-layers-.jpg' %}" alt="bgImg">
    </div>
    <div class="content">
        <h2>Look at <span>The Real Moscow</span></h2>
        <p>Москва больше, чем вы ожидаете Москва больше, чем вы ожидаете Москва больше, чем вы ожидаете Москва больше, чем вы ожидаете Москва больше, чем вы ожидаете Москва больше, чем вы ожидаете Москва больше, чем вы ожидаете Москва больше, чем вы ожидаете Москва больше, чем вы ожидаете </p>
        <span class="reg_form_show_btn">Регистрация</span>
        <span class="sing_form_show_btn">У вас уже есть аккаунт?</span>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>