{% load static %}
{% load i18n %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>travel_hack</title>
    <meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="khan" />
		<link rel="shortcut icon" type="image/png" href="img/">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/prof_guest.css' %}">
</head>
<body>
	<div class="wrapper">
        <div class="profile_block">
            <div class="hide_btn"><span></span></div>
            <div class="avatar"><img src="{% static 'img/Perepelitsa.jpeg.220x220_q85_crop.jpg' %}" alt=""></div>
            <h4>Имя</h4>
            <p>Владимир Перепелица</p>
            <h4>email</h4>
            <p>vladcloudsolution.mail.ru</p>
            <div class="role">Я <span>турист</span></div>
        </div>
        <div class="content_block">
            <h2>Чего вы желаете?</h2>
            <form action="" class="filter">
                <label>
                    <input type="checkbox" name="option1" value="c1">
                    <span>Поесть</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c2">
                    <span>Прогулка</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c3">
                    <span>Достопримечательности</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c4">
                    <span>Рандом</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c5">
                    <span>Красота</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c6">
                    <span>Развлечения</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c7">
                    <span>Медицина</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c8">
                    <span>Шопинг</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c9">
                    <span>Спорт</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c10">
                    <span>Образование</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c11">
                    <span>Ремонт</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c12">
                    <span>Религия</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c1">
                    <span>Поесть</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c2">
                    <span>Прогулка</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c3">
                    <span>Достопримечательности</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c4">
                    <span>Рандом</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c5">
                    <span>Красота</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c6">
                    <span>Развлечения</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c7">
                    <span>Медицина</span>
                </label>
                <label>
                    <input type="checkbox" name="option1" value="c8">
                    <span>Шопинг</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c9">
                    <span>Спорт</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c10">
                    <span>Образование</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c11">
                    <span>Ремонт</span>
                </label>
                <label class="last_label">
                    <input type="checkbox" name="option1" value="c12">
                    <span>Религия</span>
                </label>
                <div class="serchblock">
                    <input type="search" placeholder="Что вас интресует?" class="search">
                    <input type="button" value="Найти" class="find">
                </div>
                <h2>Группа из n человек</h2>
                <section class="range-slider">
                    <input value="3" min="1" max="20" step="1" type="range">
                    <input value="5" min="1" max="20" step="1" type="range">
                    <span class="rangeValues"></span>
                </section>
                <a href="{% url 'find' %}" class="buttons">
                        <svg class="liquid-button"
                        data-text=""
                        data-force-factor="0.1"
                        data-layer-1-viscosity="0.5"
                        data-layer-2-viscosity="0.4"
                        data-layer-1-mouse-force="400"
                        data-layer-2-mouse-force="500"
                        data-layer-1-force-limit="1"
                        data-layer-2-force-limit="2"
                        data-color1="#4DE7BF"
                        data-color2="#0A3FC7"
                        data-color3="#2A62F4"></svg>
                </a>
            </form>
            <h2>Ваши встречи</h2>
            <div class="meet_wrap">
                <div class="meet_block">
                    <div class="imgBox">
                        <img src="{% static 'img/Tolstoles.png.220x220_q85_crop.png' %}" alt="friendImg">
                    </div>
                    <div class="infoBox">
                        <div class="status"><span>Статус: </span>Вас выбрали</div>
                        <div class="time"><span>Дата встречи</span> 23.03.2020</div>
                        <div class="name"><span>Ваш новый друг: </span><a href="#">Дмитрий Толстолес</a></div>
                        <div class="address"><span>Место встречи: </span>
                            <div class="place">
                                <a href="https://goo.gl/maps/KHWguwdekVxm8Ukr5">Парк горького Крымский вал, 9</a>
                                <img src="{% static 'img/715810.483xp.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="contact"><span>Номер телефона: </span><a href="#">+9683546850</a></div>
                        <div class="social">
                            <a href="https://github.com/iamjustkhan"><img src="{% static 'img/iconfinder_vk_834714.png' %}" alt=""></a>
                            <a href="https://github.com/iamjustkhan"><img src="{% static 'img/iconfinder_facebook_834722.png' %}" alt=""></a>
                            <a href="https://github.com/iamjustkhan"><img src="{% static 'img/iconfinder_instagram_circle_color_107172.png' %}" alt=""></a>
                        </div>
                        <div class="write_btn">Связаться</div>
                    </div>
                </div>
                <div class="meet_block">
                    <div class="imgBox">
                        <img src="{% static 'img/kiseleva.jpeg.220x220_q85_crop.jpg' %}" alt="friendImg">
                    </div>
                    <div class="infoBox">
                        <div class="status"><span>Статус: </span>На рассмотрении</div>
                        <div class="time"><span>Дата отклика</span> 13.01.2020</div>
                        <div class="name"><span>Ваш новый друг: </span><a href="#">Мария Киселева</a></div>
                        <div class="places"><span>Рекомендации друга: <br></span>
                        <div class="place">
                            <a href="https://goo.gl/maps/KHWguwdekVxm8Ukr5">Музей современного искусства "Гараж", </a>
                            <img src="{% static 'img/garage-museum.jpg' %}" alt="">
                        </div>
                        <div class="place">
                            <a href="https://goo.gl/maps/KHWguwdekVxm8Ukr5">ВДНХ, </a>
                            <img src="{% static 'img/VDNH-1330-530x322.jpg' %}" alt="">
                        </div>
                        <div class="place">
                            <a href="https://goo.gl/maps/KHWguwdekVxm8Ukr5">Дизайн-завод "Флакон", </a>
                            <img src="{% static 'img/449e64e3-0f3f-486f-9bbf-e469e56d81ed.jpeg' %}" alt="">
                        </div>
                        </div>
                        <div class="write_btn">Предложить место</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/prof_guest.js' %}"></script>
</body>
</html>